p {
    font-size: 20px;
    font-weight: bold;
    em {
        background: yellow;
        padding: 5px;
        
    }
}

.section-title {
    color: hsl(0,0%,30%);
    opacity: 0.5;
}

.section-value {
    border-radius: 5px;
    padding: 2px 5px;
    background: #e9eef9;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 70%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}

.section {
    margin-top: 10px;
}

.node-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid hsl(202,10%,88%);
    border-radius: 10px;
    background: #fff;

    &__name {
        font-weight: bold;
        border-bottom: 1px solid grey;
        padding: 10px 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }
}

.arrow {
    color: rgb(113, 110, 123);
    font-size: 25px;
    height: 10px;
}

.arrow-top--up {
    margin-top: 0;
    line-height: 1;
}

.arrow-top--down {
    transform: translateY(-20px);
}

.button-content {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 3px;
    font-size: 10px;
    margin: auto auto;
    background-color: #fff;
    border: 1px solid #E4E2E9;

    &__number {
        margin-left: 5px;
    }
}